.MainPage {
    max-width: 1000px;
    margin: 100px auto;
    padding: 10px;
}

.MainPage__header {
    position: fixed;
    background: linear-gradient(to bottom, rgba(50,50,50, 1), rgba(50,50,50, 0));
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
}
.MainPage__header--container {
    max-width: 1000px;
    margin: 0 auto;
}